@model ProyectoSeguridad.Models.Calculos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Calculos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorVulnerabilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorVulnerabilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorAmenaza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorAmenaza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
