@model IEnumerable<ProyectoSeguridad.Models.Calculos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.valorActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorVulnerabilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorAmenaza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tieneControl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.valorActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorVulnerabilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorAmenaza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
				@if (item.tieneControl == true)
                {
                    <td>Con Control</td>
                }
                else
                {
                    <td>Sin Control</td>
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
