@model IEnumerable<ProyectoSeguridad.Models.Activo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costoActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.confidencialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.integridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.disponibilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clas_conf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clas_int)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clas_disp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costoActivo)
            </td>
            <td>
                    @if (item.confidencialidad == "1")
                    {
                        <span>Bajo</span>
                    }
                    else if (item.confidencialidad == "2")
                    {
                        <span>Medio</span>
                    }
                    else
                    {
                        <span>Alto</span>
                    }
            </td>
            <td>
                    @if (item.integridad == "1")
                    {
                        <span>Bajo</span>
                    }
                    else if (item.integridad == "2")
                    {
                        <span>Medio</span>
                    }
                    else
                    {
                        <span>Alto</span>
                    }
            </td>
            <td>
                    @if (item.disponibilidad == "1")
                    {
                        <span>Bajo</span>
                    }
                    else if (item.disponibilidad == "2")
                    {
                        <span>Medio</span>
                    }
                    else
                    {
                        <span>Alto</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clas_conf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clas_int)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clas_disp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
