@model IEnumerable<ProyectoSeguridad.Models.Control>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcionControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.efectividad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcionControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.efectividad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
