@model ProyectoSeguridad.Models.Frecuencia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Frecuencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.frecuencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.frecuencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.responsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.responsable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
